* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 32rem;
    height: 32rem;
    background-image: url('assets/Boards/brown.svg');
    position: relative
}
.selected {
    background-color: brown;
}
