* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 32rem;
    height: 32rem;
    background-image: url('assets/Boards/brown.svg');
    position: relative
}
.selected {
    background-color: brown;
}

.choosePieceButton{
    width: 4rem;
    height: 4rem;
}

.timerDiv {
    height: 8rem;
    width: 10rem;
    background-color: #a1807d;
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    left: 32rem;
    top: -20rem;
}

.timer {
    height: 4rem;
    width: 10rem;
    background-color: #a1807d;
    text-align: center;
    font-size: 2.5rem;
}

.gameResult {
    height: 2rem;
    width: 4rem;
    position: relative;
    left: 33rem;
    top: -20rem;
}
