@using Chess.Logic
@using Chess.Logic.Moves
@using Chess.Logic.Pieces

<link href="~/css/App.css" rel="Stylesheet" type="text/css" />

<div class="board">
    @{
        var piecesMap = (Dictionary<Vector2, Piece>)ViewBag.Pieces;
        var availibleMoves = (List<Move>)ViewBag.AvailibleMoves;

        for (int y = 7; y >= 0; y--)
        {
            for (int x = 0; x < 8; x++)
            {
                var i = new Vector2(x, y);
                var isWhite = (x + y) % 2 == 1;
                var str = isWhite ? "white" : "black";

                <div id="@(x * 8 + y)" class="cell @str">
                    @{
                        if (piecesMap.TryGetValue(i, out var piece))
                        {
                            var path = $"{piece.Color}-{piece.GetType().Name}.png".ToLower();

                            <a href=@($"https://localhost:7113/MyHome/Moves?id={piece.Id}")>
                                <button>
                                    <img class="img" src="~/assets/@path">
                                </button>
                            </a>


                            //<a href="@Url.Action("Index","Home")" method="post">
                            //</a>
                        }
                        if (availibleMoves != null && availibleMoves.Any(x => x.TargetPos == i))
                        {
                            <button class="available" onclick="location.href='@($"https://localhost:7113/MyHome/Move?cell={x * 8 + y}")'" type="button">
                            </button>
                        }
                    }
                </div>
            }
        }
    }
</div>

<script>
    function ShowAvailibleMoves() {
        location.href = "/Home/Index";
    }
</script>
