.gamePools {
    display: grid;
    font-size: 1.5em;
    grid-gap: 9px;
    padding: 9px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
}

.clock {
    font-size: 1.5em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}

.gamePools > div {
    cursor: pointer;
    border: 1px solid black;
    background: rgba(186,186,186,0.05);
    color: #636363;
    transition: all 150ms;
    border-radius: 3px;
    text-align: center;
}

    .gamePools > div:hover {
        background-color: rgb(201, 132, 62, 0.5);
    }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
